
   
<section class="signup-section">

<div class="signup-form">


<p class="signup-title"> Sign in </p>

<form method="POST" action="/auth/signin">

    <div class="form-group">
        <label class="form-label"> Email Address: </label>
        <input type="email" name="emailAddress" class="form-control form-field sign-field" />
    </div><br>

    <div class="form-group">
        <label class="form-label"> Password: </label>
        <input type="password" name="password" class="form-control form-field" />
    </div>

    <br>

    <div class="button-signup-div">
        <button type="submit" class="signup-button"> SIGN IN </button>
    </div>

</form>
</div>
</section>