<section class="signup-section">

<div class="signup-form">
<p class="signup-title"> Create an Account </p>

<form method="POST" action="/auth/signup">

    <div class="form-group">
        <label class="form-label"> Full Name: </label>
        <input type="text" name="name" class="form-control form-field" />
    </div><br>

    <div class="form-group">
        <label  class="form-label"> Email Address: </label>
        <input type="email" name="emailAddress" class="form-control form-field" />
    </div><br>

    <div class="form-group">
        <label class="form-label"> Password: </label>
        <input type="password" name="password" class="form-control form-field" />
    </div> <br>

    <div class="form-group">
        <label class="form-label"> Are you an Athlete or a Coach? </label>
        <select name="userType" class="form-control form-field">
            <option value="">Select here</option>
            <option value="athlete">Athlete</option>
            <option value="coach">Coach</option>
        </select>
        </div><br>

    

    <div class="button-signup-div">
        <button type="submit" class="signup-button"> Register </button>
    </div>

</form>
</div>
</section>