
<section class="club-page">
    <p class="page-title">NEW CLUB</p>
    
    <form action="/club/add" method="POST" class="form">
    
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="nameClub" id="" class="form-control form-field">
        </div><br>
    
    
        <div class="form-group">
            <label for="">Email Address</label>
            <input type="text" name="emailAddressClub" id="" class="form-control form-field">
        </div><br>
    
         <div class="form-group">
            <label for="">Club Website</label>
            <input type="text" name="websiteClub" id="" class="form-control form-field">
        </div><br>
    
        <!-- We may want to use a dropdown for the region similar to coach add.js -->
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" name="address" id="" class="form-control form-field">
        </div><br>
    
    
    <!-- 
          <div class="form-group">
            <label for="">Region</label>
            <input type="text" name="region" id="" class="form-control form-field">
        </div><br> -->
    
    
        <!-- <div class="form-group">
            <label for="">Training Plan</label>
            <input type="text" name="trainingPlan" id="" class="form-control form-field">
        </div><br> -->
    
        <button type="submit" class="submit-button">Create Club</button>
    
    </form>
    
    </section>
    
    
    