<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Corrida </title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;900&display=swap" rel="stylesheet">
    <!-- Linking to main.css -->
    <link rel="stylesheet" href="../css/main.css">
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>







    <!-- my nav -->
    <nav class="navbar navbar-expand-md" id="navbarNav">
    <div class="container-fluid">
        <h1 ><a class="logo"  href="/"> CORRIDA </a></h1>
   
        <div class="collapse navbar-collapse">
            <a class="menu-nav" href="/athlete/index"> ATHLETES </a>
            <a class="menu-nav" href="/coach/index"> COACHES </a>
            <a class="menu-nav" href="/club/index"> CLUBS </a>
            <a class="menu-nav" href="/event/index"> EVENTS </a>
            <a class="menu-nav" href="/athlete/add" class="">Add Athletes</a>
            <a class="menu-nav" href="/coach/add" class="">Add Coaches</a>
            <a class="menu-nav" href="/club/add" class="">Add Clubs</a>
            <a href="" class="menu-nav signin">SIGN IN</a>
            <a href="" class="menu-nav signup">SIGN UP</a>

        </div>
         </div>
    </nav>  
    

    <%- body %>

    <footer>
    <div class="footer-row">
        <div class="footer-column">
            <h2 class="logo">CORRIDA</h2>
        </div>
        <div class="footer-column">
            <a href="#">Link 1</a><br>
            <a href="#">Link 2</a> <br>
            <a href="#">Link 3</a>
        </div>
        <div class="footer-column">
            <a href="#">Link 4</a><br>
            <a href="#">Link 5</a><br>
            <a href="#">Link 6</a>
        </div>
        <div class="footer-column">
            <a href="#">Instagram</a><br>
            <a href="#">Facebook</a><br>
            <a href="#">Twitter</a>
        </div>
    </div>
        <br><br><br>
        <p class="footer-text">Corrida 2022 - All rights reserved. Built by Rob Sesemann and Claudia Eiko. Click on names for GitHub.</p>
</footer>
    
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <!-- linking to js file -->
    <script src="../js/main.js"></script>
    
</body>
</html>