body {
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    font-size: 22px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}
a:hover {
    color: rgb(58, 43, 226);
}

.logo {
    font-size: 60px;
    font-weight: 900;
}
/* .navbar {
    display: flex;
} */
.main-menu {
    padding: 20px 20px 0 80px;
}
.menu-right {
    margin-left: 35%;
}
.menu-nav {
    margin-left: 25px;
    font-weight: 500;
    
}
.signup {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.signup:hover {
    background-color: rgb(58, 43, 226);
    color: white
}

.hero {
    /* background-image: url("/images/woman-running.jpeg");
    background-size: cover;
    background-position: bottom; */
    margin-top: 100px;
    height: 850px;
}
.hero-row {
    display: flex;
    margin-left: 15%;
  
}
.hero-column2 {
    margin-left: 10%;
}
.title {
    font-size: 80px;
    color: black;
    font-weight: 500;
    margin-top: 20%;
}
.subtitle {
    color:black;
    font-weight: 400;
}
.hero-button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}
.hero-button:hover {
    background-color: rgb(58, 43, 226);
    color: white
}

.row-description {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.column-description {
    padding: 45px 30px;
    background-color: rgb(41, 40, 41);
    margin: 15px;
    color: white;
    border-radius: 10px;
}
.column-description:hover {
    background-color: rgb(58, 43, 226);
}
.description-title {
    font-size: 32px;
}
footer {
    background-color: rgb(41, 40, 41);
    color: white;
    padding: 130px 25px;
}
.footer-row {
    display: flex;
    justify-content: space-around;
}
.footer-column a {
    color: white;
}
.footer-text {
    text-align: center;
}

.page-title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}
.coach-page {
    padding: 10px 60px;
    margin-top: 100px
}
.coach-row1 {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 100px;
    margin-right: 50px;
}
.name {
    font-size: 35px;
    font-weight: 700;
}
.coach-column {
    width: 30%;
    padding: 40px 50px;
    background-color: rgb(245, 245, 245);
    margin-right: 70px;
    border-radius: 10px;
}
.moment-class {
    font-size: 16px;
}
.edit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    float: right;
}
.training-plan {
    padding: 40px 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

th {
    font-size: 32px;
    background-color: black !important;
    color: white;
}
.form {
    padding: 10px 200px;
}
.form-field {
    font-size: 24px;
}
.submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    border: none
}
.list-age {
    font-weight: 300;
    font-size: 22px;
    margin-left: 50px;
}