<main class="hero">
<h2 class="title">Title</h2>
<h4 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa incidunt aperiam laudantium architecto repellendus.</h4>
</main>

<section>
    <div class="row-description">
        <div class="column-description">
            <h5 class="description-title"> Athletes</h5>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorum libero laudantium eius. </p>
        </div>
        <div class="column-description">
            <h5 class="description-title"> Coaches</h5>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorum libero laudantium eius. </p>
        </div>
        <div class="column-description">
            <h5 class="description-title"> Upcoming Events</h5>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorum libero laudantium eius. </p>
        </div>
    </div>
</section>