<section class="coach-page">
    <h2 class="page-title"> EVENT </h2>
    
    <table class="table table-striped">
        <tr>
            <th> Name </th>
            <th> Contact Email </th>
            <th> Date </th>
            <th> Address </th>
            <th> Region </th>

            <th> Edit </th>
            <th> Delete </th>
        </tr>
    

    </table>
    
    
    </section>
    