.social {
    border-radius: 3px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    background: #f3f3f3;
    border-color: #d1d1d1 #e7e7e7 #e4e4e4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    float: left;
    list-style: none;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    margin: 20px;
  }
  
  .social li:first-child {
    margin-top: 0
  }
  
  .social li {
    margin-top: 10px
  }
  
  .social li a {
    display: block;
    background: #999999;
    color: #efefef;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 30px;
    font-size: 18px;
  }
  
  .social a.tw:hover {
    background: #00acee
  }
  
  .social a.fb:hover {
    background: #3b5998
  }
  
  .social a.gp:hover {
    background: #dd4b39
  }
  
  body {
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    font-size: 22px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: rgb(58, 43, 226);
}


.logo {
    font-size: 60px;
    font-weight: 900;
}
/* .navbar {
    display: flex;
} */
.main-menu {
    padding: 20px 20px 0 80px;
}
.menu-right {
    margin-left: 35%;
}
.menu-nav {
    margin-left: 25px;
    font-weight: 500;
    
}
.signup {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.signup:hover {
    background-color: rgb(58, 43, 226);
    color: white
}
.signup-section {
    padding: 5% 35%;
    
}
.signup-form {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    padding: 20px 40px;
}
.signup-title {
    text-align: center;
}
.signup-button {
    background-color: black;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
}
.button-signup-div {
    text-align: center;
}

.hero {
    /* background-image: url("/images/woman-running.jpeg");
    background-size: cover;
    background-position: bottom; */
    margin-top: 100px;
    height: 850px;
}
.hero-row {
    display: flex;
    margin-left: 15%;
  
}
.hero-column2 {
    margin-left: 10%;
}
.title {
    font-size: 80px;
    color: black;
    font-weight: 500;
    margin-top: 20%;
}
.subtitle {
    color:black;
    font-weight: 400;
}
.hero-button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}
.hero-button:hover {
    background-color: rgb(58, 43, 226);
    color: white
}

.row-description {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.column-description {
    padding: 45px 30px;
    background-color: rgb(41, 40, 41);
    margin: 15px;
    color: white;
    border-radius: 10px;
}
.column-description:hover {
    background-color: rgb(58, 43, 226);
}
.description-title {
    font-size: 32px;
}

.social {
    border-radius: 3px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    background: #f3f3f3;
    border-color: #d1d1d1 #e7e7e7 #e4e4e4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    float: left;
    list-style: none;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    margin: 20px;
  }
  
  .social li:first-child {
    margin-top: 0
  }
  
  .social li {
    margin-top: 10px
  }
  
  .social li a {
    display: block;
    background: #999999;
    color: #efefef;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 30px;
    font-size: 18px;
  }
  
  .social a.tw:hover {
    background: #00acee
  }
  
  .social a.fb:hover {
    background: #3b5998
  }
  
  .social a.gp:hover {
    background: #dd4b39
  }
footer {
    background-color: rgb(41, 40, 41);
    color: white;
    padding: 130px 25px;
}
.footer-row {
    display: flex;
    justify-content: space-around;
}
.footer-column a {
    color: white;
}
.footer-text {
    text-align: center;
    color: white
}

.footer-links {
    color: white;
}

.footer-links:hover {
    color: grey;
}

.page-title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}
.coach-page {
    padding: 10px 60px;
    margin-top: 100px
}
.coach-row1 {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 100px;
    margin-right: 50px;
}
.name {
    font-size: 35px;
    font-weight: 700;
}
.coach-column {
    width: 30%;
    padding: 40px 50px;
    background-color: rgb(245, 245, 245);
    margin-right: 70px;
    border-radius: 10px;
}
.moment-class {
    font-size: 16px;
}
.edit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    float: right;
}
.training-plan {
    padding: 40px 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

th {
    font-size: 28px;
    background-color: black !important;
    color: white;
}
.form {
    padding: 10px 200px;
}
.form-field {
    font-size: 24px;
}
.submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    border: none
}
.list-age {
    font-weight: 300;
    font-size: 22px;
    margin-left: 50px;
}
.club-column {
    width: 65%;
    padding: 40px 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.performance-field{
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
}
.performance-submit {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}
.event-column {
    width: 65%;
    padding: 40px 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.event-link {
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 20px 90px;
    border-radius: 15px; 
}
.event-link:hover {
    color: rgb(199, 198, 198)
}
.event-row {
    text-align: center;
}
.training-field {
    border: none;
    font-size: 14px;
    height: 20px;
    border-radius: 5px;
    padding: 20px 5px;
}
.search-form {
    display: flex;
    justify-content: center;
}
.search-field {
    width: 50%;
    margin-right: 10px;
}
.search-button {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 35px;
    border-radius: 5px;
}

