<main class="hero">
<div class="hero-row">
        <div class="hero-column1">
            <h2 class="title">Your Running App</h2>
            <h4 class="subtitle">All your rankings and performances. <br> In one place.</h4>
            <br><br>
            <a class="hero-button"href="/auth/signup">Become a member</a>
        </div>
        <div class="hero-column2">
            <img src="./images/man-running2.png" alt="">
        </div>
    </div>

    <div class="content-box">
        <img src="images/avatar.jpeg" class="content-before"/>
      </div>

</main>

<section>
    <div class="row-description">
        <div class="column-description">
            <h5 class="description-title"> Athletes</h5><br>
            <p class="description">Upload your performance and sign up to running events. </p>
        </div>
        <div class="column-description">
            <h5 class="description-title"> Coaches</h5><br>
            <p class="description">List all your Athletes and share your training plans. </p>
        </div>
        <div class="column-description">
            <h5 class="description-title"> Upcoming Events</h5><br>
            <p class="description">Find details on upcoming Running Events in the UK. </p>
        </div>
    </div>
</section>

