<h1> Regions </h1>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        
    </tr>

    <% regions.forEach(function(region) { %>
<tr>
    <td><a href="/region/detail?id=<%= region._id %>"><%= region.nameRegion %></a></td>
   
</tr>
        <% }) %>
</table>
